/* breakpoint - 498px */
/* breakpoint-2 - 768px */
/* breakpoint-3 - 992px  */
/* breakpoint-4 - 1200px */

*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
.heading{
    padding: 30px;
    font-weight: bold;
}
@media (max-width: 498px){
    .heading{
        font-size: 6vw;
    }
}

/* Header */
.header{
    /* background: rgb(13, 26, 207); */
    padding-top: 4%;
    padding-bottom: 4%;
}
.main-heading{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    line-height: 1.6;
    margin-top:60px;
    margin-bottom:30px;
}
.main-description{
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.3;
    color: #000;
    margin-top:30px;
    margin-bottom:20px;
}
.btn-f{
    display: inline-block;
    color: white;
    font-size: 1em;
    padding: .4em 1.8em;
    background-color: #5ACCDE;
    margin-top: 30px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
@media (max-width: 992px) and (min-width: 768px){
    .img{
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .main-heading{
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        line-height: 1.3;
        margin-top:40px;
        margin-bottom:10px;
    }
    .main-description{
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2;
        color: #000;
        margin-top:20px;
        margin-bottom:13px;
    }
    .btn-f{
        margin-top: 0;
    }
}
@media (max-width: 768px){
    .main{
        position: relative;
    }
    .main-heading{
        padding: 7%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        line-height: 1.3;
        margin-top:20px;
        margin-bottom:10px;
    }
    .main-description{
        text-align: center;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2;
        color: #000;
        margin-top:20px;
        margin-bottom:13px;
    }
    .btn-c { 
        height: 200px;
        position: relative;
    }
    .center {
        margin: 0;
        position: absolute;
        top: 270%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .img{
        margin-top: -140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    
}
@media (max-width:498px) {
    .main-heading{
        padding: 3%;
        font-size: 7vw;
    }
    .main-description{
        font-size: 5vw;
        margin-bottom:0px;
    }
    .img{
        margin-top: -170px;
        width: 80vw;
        height: auto;
    }
    .btn-c{
        font-size: 4vw;
    }
    .center{
        margin: 0;
        position: absolute;
        top: 92vw;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/* Platform */
.platform{
    background: #D4F3FE;
    padding-bottom: 4%;
    justify-content: center;
}
.platform-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.flat-button {
    position: relative;
    width: 100%; height: 60px;
    background: #D4F3FE;
    overflow: hidden;
    cursor: pointer;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #5ACCDE;
    text-align: center;
    color: rgb(0, 0, 0);
}
.platform-btn button:hover {
    border-bottom: 3px solid #5ACCDE;
}
.platform-btn button.active {
    border-bottom: 3px solid #5ACCDE;
}
.platform h6{
    font-weight: normal;
}
table {
    background: #5ACCDE;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    box-shadow: rgb(99, 99, 99, 0.350) 0 0 10px;
}
table tr th {
    background: #5ACCDE;
    border-radius: 0.25em;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
}
tbody td {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: .76em;
    padding: 0.65em 1em;
    border: .5px solid #ddd;
}
tbody tr{
    background: #fff;
    font-weight: 200;
    border-radius: 0.25em;
}
tfoot tr td{
    background: #5ACCDE;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    text-align: center;
}
td b{
    color: #5ACCDE;
}
td span{
    font-weight: bold;
}
.list{
    margin: 1em;
    margin-left: 10%;
}
.list li{
    color: #000000;
    line-height: 50px;
}
.list button{
    margin-top: -10px;
    margin-left: -20px;
}
.list2{
    display: none;
}
.line{
    margin-top: 20px;
    margin-left: -20px;
}
.line span{
    color: #5ACCDE;
}
.line a{
    font-weight: bold;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}
.box {
    background: white;
    border-radius: 6px;
    margin: 20px auto;
    width: 300px;
    height: 220px;
    border: #5ACCDE solid 1px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: rgba(99, 99, 99, 0.300) 0 0 10px;
}
.box h5{
    font-size: 15px;
    font-weight: bold;
}
.box p{
    font-size: 12px;
}
.box img{
    margin-bottom: 10px;
}
@media (max-width: 992px) and (min-width: 768px){
    .boxes{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
    }
    table tr th {
        font-size: 0.8em;
        padding: 0em 1em;
    }
    tbody td {
        font-size: .7em;
        padding: 0em .8em;
    }
    tfoot tr td{
        padding: 0.3em 1em;
        font-size: 0.8em;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .list{
        display: none;
    }
    .list2{
        display: block;
        padding: 10%;
    }
    .list2 button{
        margin-top: -10px;
        margin-left: -20px;
    }
    .list2 h6{
        font-size: .8rem;
    }
    .boxes{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .box:nth-child(5){
        display: none;
    }
    .box:nth-child(6){
        display: none;
    }
}
@media (max-width:498px) {
    .box {
        width: 80vw;
        height: auto;
    }
    .flat-button {
        font-size: 3vw;
        height: 6vw;
        
    }
    .platform h6 {
        font-size: 4vw;
    }
    table tr th {
        font-size: 4.5vw;
    }
    tbody td {
        font-size: 4vw;
    }
    tfoot tr td {
        font-size: 4.5vw;
    }
    .list2 ul li{
        font-size: 4vw;
    }
    .list2 button {
        font-size: 4vw;
    }
    .features button{
        font-size: 4vw;
    }
}

/* Proposition */
.proposition{
    padding-bottom: 4%;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
}
.proposition .box {
    background: white;
    border-radius: 6px;
    margin: 20px;
    width: 300px;
    height: 220px;
    border: #5ACCDE solid 1px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: rgba(99, 99, 99, 0.300) 0 0 10px;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.proposition .btn-f{
    display: none;
}
@media (max-width: 768px) {
    .box2{
        display: none;
    }
    .proposition .box:nth-child(4){
        display: none;
    }
    .proposition .btn-f{
        display: inline;
    }
}
@media (max-width:498px) {
    .proposition .box {
        width: 80vw;
        height: auto;
    }
    .proposition button{
        font-size: 4vw;
    }
}
/* Calculator */
.calculator{
    background: #D4F3FE;
    padding-bottom: 4%;
    justify-content: center;
}
.calculator h6{
    font-weight: normal;
    font-size: 15px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}
.amount h6{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #5ACCDE;
}
.amount img{
    width: 100%;
    height: auto;
}
.dark{
    background-color: #158BBB;
}
.light{
    color: #158BBB;
    background-color: #D4F3FE;
    border: 2px solid #158BBB;
    border-color: #158BBB;
}
@media (max-width: 992px) and (min-width: 768px){
    
}
@media (max-width: 767px){
    .calculator{
        background: #fff;
    }
    .light{
        background-color: #fff;
    }
    .platform-btn .ftb{
        background-color: #fff;
    }
    .btn-line{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 14px;
        padding: .3em 1.5em;
    }
    .btn-line button{
        margin: 4px;
    }
}
@media (max-width: 523px) {
    .btn-line button{
        font-size: 2.6vw;
    }
}
@media (max-width:498px) {
    .btn-line{
        padding: 10px;
        font-size: 10px;
    }
    .calculator h6 {
        font-size: 3.5vw;
        
    }
}
/* Price */
.price{
    background: #D4F3FE;
    display: grid;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: center;
    grid-template-columns: auto auto;
}
.img-btn {
    position: relative;
    width: 100%;
    max-width: 400px;
}
.img-btn img {
    width: 100%;
    height: auto;
}
.img-btn .btn-f {
    position: absolute;
    top: 85%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.network-img{
    margin-top: 20%;
}
.img-btn2{
    display: none;
}
@media (max-width: 992px) and (min-width: 768px){
    .network-img{
        margin-top: 20%;
    }
}
@media (max-width: 767px){
    .price .row{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .network-img{
        display: none;
    }
    .img-btn2{
        display: block;
    }
    .img-btn{
        display: grid;
        grid-template-columns: auto;
    }
}
@media (max-width:498px) {
    .price .row{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .network-img{
        display: none;
    }
    .network-img2{
        width: 90vw;
        padding-left: 10%;
        padding-right: 10%;
        height: auto;
    }
    .img-btn{
        display: grid;
        grid-template-columns: auto;
    }
    .img-btn .btn-f {
        font-size: 4vw;
        top: 83.5%;
    }
}

/* Value */
.value{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.box-container {
    padding: 10px;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}
.box-value h5{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-value p{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 13px;
    transform: translate(-50%, -50%);
}
.box-value i{
    position: absolute;
    top: 87.6%;
    left: 81%;
    color: #158BBB;
    transform: translate(-50%, -50%);
}
.box-img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1200px) and (min-width: 768px){
    .box-container .box-cover{
        width: 250px;
        height: auto;
    }
    .box-img{
        top: 75%;
        width: 30%;
    }
    .box-value p{
        font-size: 10px;
    }
    .box-value i{
        position: absolute;
        top: 87%;
        font-size: 0.8rem;
        left: 80.2%;
        color: #158BBB;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 767px){
    .value{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .box-container .box-cover{
        width: 460px;
        height: auto;
    }
    .box-img{
        top: 75%;
        width: 30%;
    }
    .box-value h5{
        font-size: 35px;
        font-weight: bold;
    }
    .box-value p{
        font-size: 20px;
    }
    .box-value i{
        position: absolute;
        top: 88.1%;
        font-size: 1.5rem;
        left: 81.5%;
        color: #158BBB;
        transform: translate(-50%, -50%);
    }
}
@media (max-width:498px) {
    .box-container .box-cover{
        width: 90vw;
        height: auto;
    }
    .box-img{
        top: 80%;
        width: 30%;
    }
    .box-value p{
        font-size: 4vw;
    }
    .box-value i{
        position: absolute;
        top: 87.6%;
        font-size: 5vw;
        left: 81.3%;
        color: #158BBB;
        transform: translate(-50%, -50%);
    }
    .box-value h5 {
        font-size: 8vw;
    }
}

/* Footer */
.card-foot{
    display: grid;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: center;
    grid-template-columns: auto auto;
}
.card__content {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	background: rgb(255, 255, 255);
	border-radius: 1em;
	overflow: hidden;
	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	align-items: stretch;
}
.card-items{
    display: grid;
    padding: 15%;
    grid-template-rows: auto auto auto;
}
.card-items h6{
    padding: 30px;
    font-weight: normal;
}
.card__content > figure {
	grid-area: img;
	overflow: hidden;
    padding: 10%;
}
.card__content > figure > img {
	width: 110%;
	height: 100%;
	object-fit: cover;
}
.footer-img-res{
    display: none;
}

@media (max-width: 1200px) and (min-width: 768px){
    .card-items h4{
        font-size: 1rem;
        padding: 0;
    }
    .card-items h6{
        font-size: 0.8rem;
        padding: 0;
    }
    .footer-img{
        width: 100%;
    }
    .card__content > figure > img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 767px){
    .card__content {
        display: grid;
        grid-template-areas: "txt""img";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: stretch;
    }
    .card-items{
        grid-area: txt;
        grid-column: 1;
        grid-row: 1;
        justify-content: center;
    }
    .card-items h4{
        font-size: 1.7rem;
        padding: 0;
        text-align: center;
    }
    .card-items h6{
        text-align: center;
    }
    .card__content > figure > img{
        grid-area: img;
    }
    .card__content > figure {
        padding: 0;
    }
}
@media (max-width:498px) {
    .card-items h4 {
        padding-top: 5%;
        font-size: 7vw;
    }
    .card-items h6 {
        text-align: center;
        font-size: 3.5vw;
        padding: 10px;
    }
    .footer-img{
        width: 90vw;
    }
    .card-items {
        padding: 0;
    }
}


