.nav {
  background-color: var(--bg-primary-color);
  /* box-shadow: var(--shadow); */
}

.link {
  font-size: 24px;
  color: var(--font-secondary-color);
}

.link:focus,
.link:hover{
  outline: none;
  color: var(--font-primary-color);
}