.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-dark .navbar-toggler {
  border: none !important;
}
.nav-link {
  padding: 0 !important;
}

.ant-timeline-item-content{
  font-family: futura-bk;
}

.ant-carousel .slick-dots-bottom{
  bottom: -35px !important;
}
.ant-carousel .slick-dots li button{
  height: 5px !important;
  border-radius: 3px !important;
}